body{
    background-image: linear-gradient(to top, #000000,rgb(57, 57, 57));
    color: white;
    margin: auto;
    height: 700px;
}
.Spotify{
    margin:40px auto;
    width: 40%;
    background-image: linear-gradient(to bottom, #000000,rgb(27, 27, 27));
    padding:40px 0 ;
    border-radius: 20px;
}

.noidung{
    width: 70%;
    /* background-image: linear-gradient(to bottom, #000000,rgb(27, 27, 27)); */
    margin: auto;
}
.tren{
    margin: auto;
    width: 80%;
    text-align: center;
    border-bottom: 1px solid rgb(191, 188, 188);
}
.nut{
    margin-bottom: 10px;
}
button{
    gap: 20px;
    width: 100%;
    padding:10px 0 ;
    background-color: black;
    color: white;
    border-radius: 20px;
    border: 1px solid whitesmoke;
}
.dangky{
    color: white;
    margin: auto;
}
.dangky:hover{
    color: rgb(156, 156, 156);
}